.ServicesCardsRow {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.ServicesCardCol {
  display: flex;
  justify-content: center;
  margin: 10px 50px;
  text-align: justify;
}

.ServicesVideoGrandParent {
  width: 90%;
}

.ServicesVideoParent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServicesVideo {
  overflow: hidden;
  transition: 0.2s;
  transform: scale(1);
  border-radius: inherit;
  height: 100%;
}

.VideoTransition {
  transition: 0.2s;
  transform: scale(1);
}

.VideoTransition:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.ServicesCardTitle {
  color: rgb(255, 255, 255, 0.85);
}

@media only screen and (max-width: 991px) {
  .ServicesVideoGrandParent {
    padding-top: 15px;
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .ServicesVideoGrandParent {
    padding-top: 15px;
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .ServicesVideoGrandParent {
    padding-top: 15px;
    width: 80%;
  }
}
