.Subtitle {
  font-size: 40px;
}

.PastWorkCol {
  padding: 0px 0px 0px 0px;
  border: solid transparent;
  border-width: 30px 40px;
  display: flex;
  justify-content: center;
}

.WorkCard {
  padding: 0px 0px 0px 0px;
  height: 320px;
  border: none;
  border-radius: 10px 0px 10px 0px;
}

.PastWorkFirst {
  background-image: url('../../assets/habitoneSmaller.png');
  background-color: rgb(218, 218, 218);
  background-position-x: center;
  background-position-y: 25px;
  background-repeat: no-repeat;
  background-size: 80%;
}

.CardTitle {
  font-size: 25px;
  font-weight: 700;
  padding-top: 5px;
  color: black;
}

.Reviews {
  padding: 100px 0px;
  text-justify: inter-character;
  justify-content: center;
}

.Review {
  max-width: 500px;
}

.ReviewText {
  font-weight: 700;
  padding-bottom: 5px;
}
