.Subtitle {
  font-size: 40px;
}

.PastWorkCol {
  padding: 0px 0px 0px 0px;
  border: solid transparent;
  border-width: 30px 40px;
  display: flex;
  justify-content: center;
}

.WorkCard {
  padding: 0px 0px 0px 0px;
  height: 320px;
  border: none;
  border-radius: 10px 0px 10px 0px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.HabitOne {
  background-image: url('../../assets/habitoneSmaller.png');
  background-color: rgb(218, 218, 218);
  background-position-y: 25px;
}

.Proximy {
  background-image: url('../../assets/proximy-logo.png');
  border-color: rgb(91, 141, 239);
  border: 2px solid rgb(91, 141, 239);
  background-position-y: center;
}

.Reviews {
  padding: 100px 0px;
  text-align: center;
  justify-content: center;
}

.Review {
  max-width: 500px;
  padding: 0px 50px;
}

.ReviewText {
  font-weight: 700;
  padding-bottom: 5px;
}
