.PastWorkMain {
  padding: 40px 50px 0px 50px;
}

.Subtitle {
  font-size: 40px;
}

.WorkCard {
  padding: 0px 0px 0px 0px;
  height: 380px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 0.1px solid lightgrey;
}

.WorkCard:hover {
  cursor: pointer;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.PastWorkFirst {
  background-image: url('../../assets/habitoneSmaller.png');
  background-position-x: center;
  background-position-y: 30px;
  background-repeat: no-repeat;
  background-size: 130px;
}

.CardTitle {
  font-size: 25px;
}

.Overlay {
  justify-content: center;
  position: absolute;
  top: 0;
  opacity: 0.4;
  height: 310px;
  width: 100%;
  background-color: grey;
  border-radius: 10px 10px 0px 0px;
  pointer-events: none;
}
