.ServicesMain {
  padding-bottom: 50px;
}

.ServicesCol {
  padding-bottom: 100px;
}

.Subtitle {
  font-size: 40px;
}

.ServicesCardsRow {
  margin-top: 30px;
}

.ServicesCardCol {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 0px 0px 0px;
}

.MyCard {
  text-align: center;
  width: 300px;
  padding-top: 40px;
  height: 300px;
  border-radius: 5px;
  border: 0.1px solid lightgrey;
  background-color: #f5f5f7;
}

.MyCardBack {
  background-color: #f5f5f7;
  opacity: 0.85;
}

.LearnMore {
  color: rgb(100, 100, 100);
  font-size: 10px;
  padding-top: 0px;
}

@media only screen and (max-width: 1200px) {
  .MyCard {
    text-align: center;
    width: 300px;
    padding-top: 40px;
  }
}
