.ServicesMain {
  padding-bottom: 50px;
}

.Subtitle {
  font-size: 40px;
}

.ServicesCardsRow {
  margin-top: 30px;
}

.ServicesCardCol {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ServicesVideoGrandParent {
  width: 90%;
}

.ServicesVideoParent {
  transition: 0.2s;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServicesVideoParent:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.ServicesVideo {
  overflow: hidden;
  transition: 0.2s;
  transform: scale(1);
  border-radius: inherit;
  height: 100%;
}

@media only screen and (max-width: 991px) {
  .ServicesVideoGrandParent {
    padding-top: 15px;
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .ServicesVideoGrandParent {
    padding-top: 15px;
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .ServicesVideoGrandParent {
    padding-top: 15px;
    width: 80%;
  }
}
