* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
}

.MainTitle {
  display: inline-block;
  margin: 15% 20px 0px 20px;
  font-size: 60px;
}

.Link {
  cursor: pointer;
}

#toggler {
  border: 0ch;
}

.ContentParent {
  justify-content: center;
  display: flex;
  background-color: white;
}

.Content {
  max-width: 1500px;
}

.MainElementPadding {
  padding: 50px 50px 0px 50px;
}

@media only screen and (max-width: 576px) {
  .MainElementPadding {
    padding: 0px 0px 0px 0px;
  }
}
