* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
}

.MainTitle {
  display: inline-block;
  margin: 15% 20px 0px 20px;
  font-size: 60px;
}

.Link {
  cursor: pointer;
}

#toggler {
  border: 0ch;
}

.ContentParent {
  justify-content: center;
  /* Can I remove line below? */
  display: flex;
  background-color: white;
}

.element {
  max-width: 1500px;
}

.MainElementPadding {
  padding: 50px 50px 0px 50px;
}

.Interactable {
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.2);
}

.Interactable:hover {
  cursor: pointer;
}

.StaticShadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.CardTitle {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  color: black;
}

.Logo {
  height: 80px;
}

@media only screen and (max-width: 576px) {
  .MainElementPadding {
    padding: 0px 0px 0px 0px;
  }

  .Logo {
    height: 60px;
  }
}
