* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
}

.MainTitle {
  display: inline-block;
  margin: 15% 20px 0px 20px;
  font-size: 60px;
}

.Link {
  cursor: pointer;
}

#toggler {
  border: 0ch;
}

.ContentParent {
  justify-content: center;
  display: flex;
  background-color: #f5f5f5;
}

.Content {
  max-width: 1500px;
}
