.Headshot {
  width: 350px;
  height: 350px;
}

.JpParent {
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  display: flex;
  background-size: cover;
  font-size: 20px;
}
