.Headshot {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.JpParent {
  font-size: 20px;
  padding-bottom: 50px;
  text-align: justify;
}

.ExpertiseLink {
  font-size: 27px;
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .Headshot {
    width: 300px;
    height: 300px;
  }

  .PictureColumn {
    margin-top: 25px;
  }

  .ExpertiseLink {
    font-size: 22px;
  }

  .JpParent {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .JpParent {
    margin-bottom: 0px;
    font-size: 17px;
  }
}
