.FaqHeader{
    font-size: 40px;
    color: rgb(255, 255, 255, 0.85);
    margin-top: 10px;
    padding-left: 1.9cm
}
.FaqQuestion{
    color: rgb(255, 255, 255, 0.85);
    padding-left: 4.25cm;
    font-size: 8mm;
    }
.Faqresponse{
    color: rgb(255, 255, 255, 0.85);
    padding-left: 4.5cm;
    font-size: 5.5mm;
}