.HomeMain {
  padding: 20vh 50px 0px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HomeMainTitle {
  text-align: center;
  font-size: 45px;
}

.TellMeMoreParent {
  text-align: center;
  justify-content: center;
  padding-bottom: 15vh;
}

.TellMeMore:hover {
  cursor: pointer;
}

@media only screen and (max-height: 1000px) and (max-width: 992px) {
  .HomeMain {
    padding: 100px 50px 0px 50px;
  }

  .HomeMainTitle {
    font-size: 40px;
  }

  .TellMeMoreParent {
    padding-bottom: 5vh;
  }
}

@media only screen and (max-height: 750px) and (max-width: 992px) {
  .HomeMain {
    padding: 30px 50px 0px 50px;
  }

  .HomeMainTitle {
    font-size: 35px;
  }
}
