.HomeMain {
  padding: 20vh 50px;
}

.HomeMainTitle {
  text-align: center;
  font-size: 45px;
}

@media only screen and (max-height: 1000px) {
  .HomeMain {
    padding: 100px 50px;
  }

  .HomeMainTitle {
    font-size: 40px;
  }
}

@media only screen and (max-height: 750px) {
  .HomeMain {
    padding: 20px 50px;
  }

  .HomeMainTitle {
    font-size: 40px;
  }
}
