@media screen and (max-width: 600px) {
    table thead {
        display: none !important;
    }

    table td {
        display: flex !important;
        flex-wrap: wrap;
    }

    .ClientNameCell {
        font-weight: bold !important;
    }

    .TagOptionsContainer {
        flex-direction: column;
    }
}

tr:nth-child(even) {
    background: rgb(228, 230, 252);
}

tr:nth-child(odd) {
    background: #fff;
}

.Expertise {
    flex: 1;
    max-width: 1500px;
}

table {
    font-size: 18px;
}

.pill {
    padding: 8px 10px;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    margin: 2px;
    text-decoration: none !important;
}

.darkpill {
    border: 1px solid;
    color: black;
    border-color: black;
}

.FilterArrow {
    justify-content: center;
    font-size: 18px;
    margin-bottom: 8px;
    cursor:pointer
}

.TagFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .TagFilter label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 12px 10px;
    cursor:pointer
  }
  
  .TagFilter input[type="checkbox"] {
    display: none;
  }
  
  .TagFilter .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .TagFilter input[type="checkbox"]:checked + .checkmark::before {
    content: "\2714";
    font-size: 12px;
    color: white;
  }
  