@media screen and (max-width: 600px) {
    table thead {
        display: none !important;
    }

    table td {
        display: flex !important;
        flex-wrap: wrap;
    }

    .ClientNameCell {
        font-weight: bold !important;
    }
}

tr:nth-child(even) {
    background: rgba(48, 46, 58, 0.15);
}

tr:nth-child(odd) {
    background: #fff;
}

.Expertise {
    flex: 1;
    max-width: 1700px;
    margin-top: 35px;
    margin-bottom: 50px;
}

table {
    font-size: 18px;
}

.pill {
    padding: 8px 10px;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    margin: 2px;
    text-decoration: none !important;
}

.darkpill {
    border: 1px solid;
    color: black;
    border-color: black;
}

@media only screen and (max-width: 576px) {
    .Expertise {
        margin-bottom: 0px;
    }
}