.AboutRow {
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .VideoParent {
    padding-top: 60px;
  }

  .AboutContainer {
    padding-top: 0;
  }
}

.aboutVideo {
  margin-left: 60px !important;
}

@media only screen and (max-width: 1000px) {
  .aboutVideo {
    margin-top: 30px;
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 576px) {
  .aboutVideoParent {
    display: none !important;
  }
}
