.AboutRow {
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .VideoParent {
    padding-top: 60px;
  }

  .AboutContainer {
    padding-top: 0;
  }
}

.JpHeadshot {
  max-width: min(95vw, 400px);
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  .JpHeadshot {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .JpHeadshotParent {
    display: none !important;
  }
}