.FooterMain {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #c4c4c4;
  text-align: center;
  opacity: 0.8;
}

.FooterCompanyName {
  font-size: 20pt;
}

.FooterHr {
  border-color: #c4c4c4;
  border-width: 1px;
  margin: 8px 0px 2px 0px;
}

.FooterLinks {
  padding: 5px 0px 10px 0px;
}

.FooterLink {
  padding-bottom: 2px;
  margin: 0px 10px;
  opacity: 0.7;
  border-bottom: 1px solid white;
  color: white;
}

.FooterLink:hover {
  opacity: 1;
  color: white;
}

@media only screen and (max-width: 576px) {
  .FooterLink {
    margin: 0px 4px;
  }
}
