.FooterMain {
  background-color: #010226;
  min-height: 150px;
}

.form-control {
  -webkit-box-shadow: none !important;
  -webkit-appearance: none;
  box-shadow: none;
  border-width: 0 0 2px;
  border-radius: 0%;
}
