.HomeMain {
  /* background-image: url('../../toronto.png'); */
  height: 100vh;
  margin-top: 0px;
  background-size: cover;
}

.HomeMainTitle {
  text-align: center;
  font-size: 45px;
  /* padding: 200px 55px 0px 55px; */
  padding: 20vh 20px 0px 20px;
}

@media only screen and (max-width: 450px) {
  .HomeMainTitle {
    font-size: 40px;
    padding-top: 5vh;
  }
}
