.HomeMain {
  background-image: url('../../toronto.png');
  height: 100vh;
  margin-top: 0px;
  background-size: cover;
}

.HomeMainTitle {
  text-align: center;
  font-size: 40px;
  padding: 200px 5px 0px 5px;
}
