.ContactMain {
  height: 100%;
  width: 100%;
}

.FormParent {
  background-color: #292933;
  padding: 50px 50px 50px 50px;
  border-radius: 5px;
  color: rgb(255, 255, 255, 0.75);
}

.form-control {
  color: white;
  background-color: #292933;
  border-color: #1c1c1c;
  -webkit-box-shadow: none !important;
  -webkit-appearance: none;
  box-shadow: none;
  border-width: 0 0 2px;
  border-radius: 0%;
  font-size: 13px;
}

.form-control:focus,
.form-control:hover {
  color: white;
  background-color: #292933;
  border-color: #323545;
}

.SubmitButton,
.SubmitButton:hover,
.SubmitButton:active,
.SubmitButton:focus {
  background-color: #3c4992 !important;
  border-color: #3c4992 !important;
}

.ConsultationButton {
  background-color: #341f9d;
  border-radius: 8px;
  border-style: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 300ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ConsultationButton:hover,
.ConsultationButton:focus {
  background-color: #5965ec;
}

.ContactRow {
  margin-bottom: 50px;
}

.ContactInfo {
  font-size: 25px;
}

.ButtonCol {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .ConsultationButton {
    font-size: 16px;
  }

  .ContactInfo {
    font-size: 16px;
  }

  .ContactCol {
    margin-bottom: 20px;
  }
}