

.image-container {
	border-left: 5px solid blue;
	border-right: 5px solid blue;
  border-bottom: 5px solid blue;
	border-top: 5px solid blue;
  float: left;
	padding: 10px;
}

.image-container img {
	display: block;
	width: 250px;
	height: auto;
}

.right {
  float: right;
  width: 50%;
}
