.LogosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 63px 0px;
}

.LogosContainer a {
  margin: auto;
}

.LogosContainer img {
  max-width: 200px;
}

@media only screen and (max-width: 1500px) {
  .LogosContainer a {
    margin: 10px 30px;
  }
}

@media only screen and (max-width: 992px) {
  .LogosContainer a {
    margin: 20px 80px;
  }

  .LogosContainer {
    margin: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .LogosContainer a {
    margin: 20px 50px;
  }
}

@media only screen and (max-width: 576px) {
  .LogosContainer a {
    margin: 25px 50px;
  }
}
