.LogosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 63px 0px;
}

.LogosContainer a {
  margin: auto;
}

.LogosContainer img {
  max-width: 200px;
}
