.LogosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.LogosContainer a {
  margin: 10px;
}

.LogosContainer img {
  max-width: 200px;
}
