.PastWorkCol {
  padding: 0px 0px 0px 0px;
  border: solid transparent;
  border-width: 30px 40px;
  display: flex;
  justify-content: center;
}

.WorkCard {
  padding: 0px 0px 0px 0px;
  height: 220px;
  border: none;
  border-radius: 10px 0px 10px 0px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-y: center;
}


.Proximy {
  background-image: url('../../assets/proximy-logo.png');
  border-color: rgb(91, 141, 239);
  border: 2px solid rgb(91, 141, 239);
}

.MidstrideTechnologies {
  background-image: url('../../assets/midstride-white.png');
  background-color: #19658E;
}

.tensionconsulting {
  background-image: url('../../assets/tension.png');
  background-color: #242424;
}

.Minebright {
  background-image: url('../../assets/minebright-logo.png');
  border: 2px solid rgb(255, 212, 38);
}