.row {
  margin: 0;
}

.BlogLink {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.BlogLink:hover {
  color: black;
  text-decoration: underline 0.15em rgb(255, 255, 255);
  text-decoration-color: rgb(62, 62, 62);
}

.BlogThumbnailParent {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.BlogThumbnail {
  width: 330px;
  height: 190px;
  border-radius: 10px;
  transition: 300ms;
}

.BlogThumbnailScaled {
  scale: 1.1;
}

.Blog {
  flex: 1;
}

.animate-underline {
  position: relative;
  display: inline-block;
}

.animate-underline::before {
  content: "";
  position: absolute;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 0.15em;
  background-color: rgb(62, 62, 62);
  transition: width 0.3s ease-in-out;
}

.BlogLink:hover .animate-underline::before {
  width: 100%;
}
/*Pain*/