.ContactMain {
  height: 100%;
  width: 100%;
}

.ContactCol {
  padding-bottom: 100px;
}

.Subtitle {
  font-size: 40px;
}

.FormParent {
  background-color: #292933;
  padding: 50px 50px 50px 50px;
  border-radius: 5px;
}

.form-control {
  text-emphasis-color: white;
  background-color: #292933;
  border-color: black;
  -webkit-box-shadow: none !important;
  -webkit-appearance: none;
  box-shadow: none;
  border-width: 0 0 2px;
  border-radius: 0%;
  font-size: 13px;
}

.form-control:focus,
.form-control:hover {
  background-color: #292933;
  border-color: #525266;
}

@media only screen and (max-width: 1200px) {
  .ContactCol {
    margin-bottom: 40px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .Subtitle {
    font-size: 30px;
  }

  .FormParent {
    padding: 10px 10px 10px 10px;
    margin-bottom: 100px;
  }

  .ContactCol {
    margin-bottom: 40px;
  }
}
