.AboutRow {
  align-items: center;
}

.AboutContainer {
  padding-top: 5%;
}

@media only screen and (max-width: 1200px) {
  .VideoParent {
    padding-top: 60px;
  }

  .AboutContainer {
    padding-top: 0;
  }
}
