body {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
}

.StandalonePageParent {
  padding: 120px 10px;
  min-height: 85vh;
}

.SubSubtitle {
  font-size: 25px;
}

.PageTitle {
  font-size: 55px;
  font-weight: 600;
}

.PageSubtitle {
  font-size: 25px;
}

@media only screen and (max-width: 991px) {
  .PageTitle {
    font-size: 30px;
  }

  .PageSubtitle {
    font-size: 20px;
  }
}