body {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
}

.CentralContent {
  min-height: 100vh;
}

.StandalonePageParent {
  padding: 120px 10px;
  min-height: 85vh;
}

.SubSubtitle {
  font-size: 25px;
}
