.TeamHeadshots {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  object-fit: cover;
}

.TeamNames{
  font-size: 20px;
  margin-top: 15px;

}

#Katrina{
  object-position: 100% 20%;
}


@media only screen and (max-width:576px) {
  .TeamHeadshots {
    width: 130px !important;
    height: 130px !important;
  }
}