  .Team-Section{
    padding: 0px 0px 0px 0px;
    text-align: center;
    justify-content: center;
  }

  .Subtitle {
    font-size: 40px;
  }

   .list-order{
    display: inline-block;
    padding: 0px 0px 0px 0px;

  }

  .TeamHeadshots{
  /* max-height: 150px; */
  /* max-width: 150px; */
  border-radius: 100%;
  object-fit: cover; 
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-self: baseline;
  }

  .NameAndOccupation{
    display:flex;
    flex-direction: column; 
    flex-basis: fit-content;
    vertical-align: baseline;
  }
