.TeamHeadshots {
  height: 280px;
  width: 280px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  object-fit: cover;
}

.TeamMember {
  margin-top: 30px;
  text-align: center;
}

.TeamMembers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.TeamNames {
  font-size: 25px;
  margin-top: 15px;
}

.TeamRoles {
  font-size: 20px;
}

@media only screen and (max-width:992px) {
  .TeamHeadshots {
    margin-top: 30px;
  }
}

@media only screen and (max-width:576px) {
  .TeamHeadshots {
    width: 180px !important;
    height: 180px !important;
  }
}